@use "./w3.css";

.w3-bar {
    a, button {
        @extend .w3-bar-item;
        @extend .w3-black;
        @extend .w3-hover-white;
    }
}

.fps-hud{
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.crosshair {
    position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
    //width: 50px;
    //height: 50px;
}