body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  width: 100%;
  min-height: 10rem;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.8rem;
  line-height: 1.2;
}

/*textarea:hover {*/
/*  position: fixed;*/
/*  top: 20vh;*/
/*  height: 40vh;*/
/*  width: 40vw;*/
/*  overflow: auto;*/
/*}*/